header{
    height: 70px;
}

div.position-relative i.position-absolute{
    top: 13px;
    left: 16px;
}

.w_cs{
    width: 50px;
}

ul{
    list-style-type: none;
}

section.side-nav{
    width: 80px;
    height: calc(100vh - 70px);
    background-color: #182135;
    background-image: url(../img/sidebar-bg.png);
}

@media  screen and (min-width:992px) {
    section.side-nav{
        width: 120px;
    }
}