header{
    height: 70px;
}

div.position-relative i.position-absolute{
    top: 13px;
    left: 16px;
}

.w-50_cs{
    width: 50px;
}

.w-30_cs{
    width: 30px;
}

#offcanvasExample{
    width: 100%;
}

ul{
    list-style-type: none;
}

section.side-nav{
    width: 80px;
    height: calc(100vh - 70px);
    background-color: #182135;
    background-image: url(../img/sidebar-bg.png);
}

section.content{
    width: calc(100% - 80px);
    height: calc(100vh - 70px);
}

div.main-header{
    background-color: #5164e1;
    padding: 2rem 1rem;
}

.btn-plus_cs{
    width: 40px;
    height: 40px;
}

.bg-dark_cs{
    background-color: rgba(0,0,0,0.3);
}

.txt-gray{
    color: rgb(97, 94, 94);
}

.outline_cs{
    outline: 1px solid rgb(97, 94, 94);
}

.btn_cs{
    padding: 0 .33rem;
    height: 25px;
    border: none;
    border-radius: 2rem;
}

.fs_cs{
    font-size:.88rem;
}

table th{
    width: 140px;
}
@media  screen and (min-width:992px) {
    section.side-nav{
        width: 120px;
    }

    #offcanvasExample{
        width: 800px;
    }

    section.side-nav li{
        padding: .2rem;
    }

    section.side-nav li:hover{
        background-color: rgba(255,255,255,0.6);
        cursor: pointer;
    }
}